:root {
  --bg-color: #f5f5f5;
  --white: #ffffff;
  --dark: #333333;
  --primary-gray: #1b1f23;
  --gray: #999fa6;
  --orange: #ff5500;
  --orange-hover: #e94e00;
  --orange-disabled: #ffa375;
  --border-default: #e1e3e6;
  --box-shadow: 0px 10px 22px -4px rgba(27, 31, 35, 0.12);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
  font-family: var(--font-roboto);
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

main {
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  gap: 23px;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.page__container,
.header__container,
.footer__container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}
