.dropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--primary-gray);
  font-family: var(--font-sf);
}

.dropdown__label {
  font-size: 14px;
  line-height: 20px;
}

.dropdown__control {
  display: flex;
  justify-content: space-between;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--border-default);
  background: var(--white);
  color: currentColor;
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown__control:hover {
  border-color: var(--orange);
}

.dropdown__select-placeholder {
  color: var(--gray);
}

.dropdown__options {
  margin-top: 4px;
  position: fixed;
  display: flex;
  padding: 8px;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--white);
  background: var(--white);
  box-shadow: var(--box-shadow);
  z-index: 10;
}

.dropdown__item {
  display: flex;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  color: currentColor;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown__item:hover {
  color: var(--orange);
}

.dropdown__icon {
  transform: rotate(0);
  transition: all 0.3s;
}

.dropdown__icon-true {
  transform: rotate(180deg);
  transition: all 0.3s;
}
