.order {
  display: flex;
  align-items: center;
  gap: 8px;
}

.order__btn {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--orange);
  border-radius: 4px;
  border: none;

  transition: all 0.2s;
}

.order__btn:hover {
  background-color: var(--orange-hover);
}

.order__btn:disabled {
  cursor: default;
  background-color: var(--orange-disabled);
}

.order__count {
  color: var(--primary-gray);
  font-size: 20px;
  line-height: 20px;
}

.order__delete {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  transition: all 0.2s;
}
.order__delete:hover {
  color: var(--orange);
}
