.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.notfound__icon {
  color: var(--orange);
}

.notfound__text {
  font-size: 48px;
  text-align: center;
}
