.film__details {
  padding: 24px;
  display: flex;
  width: 100%;
  gap: 32px;
  background-color: var(--white);
  color: var(--primary-gray);
  border-radius: 8px;
}

.film__image {
  object-fit: cover;
  border-radius: 8px;
  min-width: 400px;
}

.film-information {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.film-information__top {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.film__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.film__characters {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.character__item {
  font-size: 20px;
  line-height: 24px;
}

.film-information__bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.film-information__subtitle {
  font-size: 20px;
  line-height: 32px;
}

.film-information__descr {
  font-size: 16px;
  line-height: 24px;
}
