.film-card {
  padding: 24px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white);
  color: var(--primary-gray);
  border-radius: 8px;
}

.film-card__link {
  display: flex;
  gap: 24px;
}

.film-card__image {
  border-radius: 8px;
  object-fit: cover;
}

.film-card__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.film-card__title {
  font-size: 20px;
  line-height: 20px;

  transition: all 0.2s;
}

.film-card__title:hover {
  color: var(--orange);
}

.film-card__genre {
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
}
