.filters {
  position: relative;
  background-color: var(--white);
  color: var(--primary-gray);
  border-radius: 8px;
}

.filters__sticky {
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
  position: sticky;
  top: 84px;
  width: 408px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filters__title {
  font-size: 16px;
  line-height: 20px;
}

.filters__sections {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
