.input-custom {
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--border-default);
  background: var(--white);
  color: currentColor;
  padding: 10px 16px;
  transition: all 0.2s;
}

.input-custom:hover {
  border-color: var(--orange);
}

.input-custom::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: var(--gray);
}

.label-custom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: var(--font-sf);
  font-size: 14px;
  line-height: 20px;
  color: var(--primary-gray);
}
