.footer {
  width: 100%;
  min-height: 86px;
  background: var(--dark);
  color: var(--white);
}

.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
}

.footer__link {
  font-size: 20px;
  line-height: 23px;
  transition: all 0.2s;
}

.footer__link:hover {
  color: var(--orange);
}
