.counter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal {
  &__content {
    padding: 24px;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--black);
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
  }

  &__descr {
    font-size: 16px;
    line-height: 20px;
  }

  &__bottom {
    display: flex;
    gap: 8px;
  }

  &__close {
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
      color: var(--orange);
    }
  }
}
