.cart {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: calc(100vh - 220px);

  gap: 16px;
}

.cart__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__result {
  margin-top: auto;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--primary-gray);
  border-radius: 8px;

  font-size: 20px;
  line-height: 20px;
}
