.film {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: flex-start;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 24px;
  border-radius: 8px;
  column-gap: 16px;

  &__img {
    width: 100px;
    min-width: 100px;
    height: 120px;
    background-color: #cfcfcf;
    border-radius: 8px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      color: var(--orange);
    }
  }

  &__genre {
    font-style: italic;
    font-size: 16px;
    line-height: 20px;
    color: var(--black);
  }
}
